@model BillAPIProject.Models.Table1

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MpnId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MpnId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SyndicationPartnerSubscriptionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SyndicationPartnerSubscriptionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfferId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfferId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DurableOfferId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DurableOfferId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfferName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfferName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChargeStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChargeStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChargeEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChargeEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChargeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChargeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalOtherDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalOtherDiscount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalForCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalForCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DomainName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DomainName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingCycleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingCycleType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubscriptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
